<app-header titulo="Cards"></app-header>

<ion-content>

<!--  OTRO TIPO-->
  <ion-card>
    <ion-item color="primary">
      <ion-icon color="light" slot="start" name="pin"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid deleniti eos et itaque iure laudantium
      magnam, possimus provident quisquam saepe sequi sit ullam. A dolorum maiores nesciunt quis repudiandae.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="/assets/shapes.svg" alt="Imagen">
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium atque distinctio doloremque eaque eum facilis, laboriosam laudantium,
      magnam maxime molestias necessitatibus, nesciunt nobis officiis quaerat quasi quibusdam recusandae sunt vero?
    </ion-card-content>
  </ion-card>


  <ion-card *ngFor="let card of contenido" mode="ios" color="primary">
    <ion-card-header>
      <ion-card-subtitle>{{card.subtitulo}}</ion-card-subtitle>
      <ion-card-title>{{card.titulo}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>{{card.contenido}}</ion-card-content>
  </ion-card>
</ion-content>
